
<div class="top">
  <div class="container">
    <h1>オンラインで会おう、話そう。<br />
    離れてても、ともだちだよ。</h1>
    <p>MakeLaughは、人と話すコミュニケーションツールです。<br />
    見たことのない人、会ったことのない人達と出会い、話すことで新しい世界を発見しましょう。</p>
    <div class="btn-wrapper">
      <a class="signup" href="/signup">さっそくはじめる</a>
      <p>or</p>
      <a class="registered" href="/login">ログインする</a>
    </div>
  </div>
</div>
<div class="menu">
  <div class="container">
    <div class="heading">
      <h2>ストレスフリーな会話で楽しむ機能</h2>
    </div>
    <div class="menus">
      <ul class="frex-list">
        <li class="li1">友達を探せる</li>
        <li class="li2">メッセで会話</li>
        <li class="li3">オンライン会に招待できる</li>
        <li class="li4">苦手な人は避けられる</li>
      </ul>
    </div>
  </div>
</div>
<div class="message">
  <div class="container">
    <h2>今すぐはじめよう！ストレスフリーな仲間づくり</h2>
    <h3>Make Laugh．日常に笑いを増やしていく関係をつくろう。</h3>
    <a class="signup" href="/signup">さっそくはじめる</a>
  </div>
</div>
<footer>
  <div class="container">
    <img src="/footer_logo.png">
    <p>Copyright © 2020 MakeLaugh All Rights Reserved.</p>
  </div>
</footer>
