.users_heading {
  color: coral;
  margin-top: 100px;
  text-align: center;
}

.users_wrapper {
  width: 60%;
  margin: 0 auto;
}

.user {
  color: #333;
  background-color: #fffff0;
  padding: 20px 30px;
  text-decoration: none;
  border: 1px solid #ccc;
}

.user .user_icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 20px;
  margin: 0;
  float: left;
}

.user_name {
  line-height: 40px;
  margin-left: 50px;
  text-align: left;
}

.user_details {
  text-align: center;
  display: block;
  text-align: center;
}

.user_details .user_icon {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.user_details h2 {
  color: #333;
}

.user_details p {
}

.form_wrapper {
  height: 400px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.form_wrapper p {
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.form_wrapper input {
  font-weight: bold;
  width: 200px;
  line-height: 24px;
}

.user_edit {
margin-bottom: 30px;
}

.user_details .mailto_user {
  margin-bottom: 20px;
}

.mail_btn {
  color: white;
  height: 60px;
  width: 80px;
}

.post_contents {
}

.post_contents .post_content {
  background-color: #fffff0;
  border: 1px solid #ccc;
}

.post_user_icon {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  float: left;
  margin: 10px;
}

.content {
  flex-wrap: wrap;
  padding: 15px 30px;
}
